## This file contains TCL configuration of available ODFI modules

set baseGitURL "http://lebleu:7778/gitlab/odfi"

set baseGitURL "git+ssh://gitlab@lebleu:7777/odfi"

group dev {
	

	module tcl {

		url "$baseGitURL/odfi-${name}.git"

	}

	module scala {

		url "$baseGitURL/odfi-${name}.git"

	}

}

group implementation {
	

	module edid {

		url "$baseGitURL/odfi-${name}.git"

	}

}