## This file contains TCL configuration of available ODFI modules


set baseGitURL "http://lebleu/gitlab/odfi"
set baseDevGitURL "gitlab@lebleu/odfi"

group dev {


	module tcl {

		url default   "$baseGitURL/odfi-${name}.git"
        url developer "$baseDevGitURL/odfi-${name}.git"
	}

	module scala {

		url default   "$baseGitURL/odfi-${name}.git"
        url developer "$baseDevGitURL/odfi-${name}.git"

	}

    module cpp {

        url default   "$baseGitURL/odfi-${name}.git"
        url developer "$baseDevGitURL/odfi-${name}.git"

    }

}

group implementation {


	module edid {

		url default   "$baseGitURL/odfi-${name}.git"
        url developer "$baseDevGitURL/odfi-${name}.git"

	}

}

group integration {


    module mbuild {

        url default   "$baseGitURL/odfi-${name}.git"
        url developer "$baseDevGitURL/odfi-${name}.git"

    }

}
