Source: odfi
Maintainer: Richard Leys <leys.richard@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: odfi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} , tcl8.6 (>= 8.6.0) , itcl3 ( >= 3.4.1)
Description: TCL ODFI manager
 This package installs the ODFI TCL manager
